/*----------------------------------
MAIN CODE 
----------------------------------*/

* {
  margin: 0;
  padding:0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #555;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*----------------------------------
REUSABLE CODE
----------------------------------*/

.seperator {
  height: 40px;
  display: block;
}

section {
  height: 100vh;
  width: 100%;
}

/*----------------------------------
HEADER
----------------------------------*/

.main-header {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))) ,url('img/pexels-photo-46274 (1).jpeg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) ,url('img/pexels-photo-46274 (1).jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header-container {
  width: 90%;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-text {
  font-size:1rem;
}

.header-text-large {
  font-size: 3rem;
  font-weight: 200;
}

input[type=text] {
  padding: 10px;
  width: 100%;
  background-color:rgba(0, 0, 0, 0);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid rgba(0, 168, 255, 0.2);
  outline:none;
  height:30px;
  transition: 0.2s;
}

input[type=text]::placeholder {
  font-size:1rem;
  font-weight: bold;
}

input[type=text]:focus {
  border-bottom:1px solid #00a8ff;
}

button,
button:visited,
button:active {
  padding:10px;
  width:40%;
  text-transform: uppercase;
  color:#ffffff;
  background-color: #e84118;
  border: 0px;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.2s;
}

button:hover,
button:active {
  cursor: pointer;
  background-color: #d13a15;
}
